
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{updateModal?"Mise à jour de la catégorie de ":"Créer une catégorie de "}}{{type}}</h4>
      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <form [formGroup]="form" (ngSubmit)="validate()">
      <div class="modal-body">
        <mat-form-field  appearance="outline">
          <mat-label>Nom de catégorie</mat-label>
          <input matInput placeholder="Légume" formControlName="name" required>
          <mat-error >Entrez un nom de catégorie</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="type!='Recette' && type!='Ingrédient'" appearance="outline">
          <mat-label>Url de l'icone</mat-label>
          <input matInput placeholder="https://test.png" formControlName="url" required>
          <mat-error>Entrez une Url</mat-error>
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal" type="submit" [disabled]="!form.valid">{{updateModal?"Mise à jour":"Créer"}}</button></div>
    </form>
  </div>
</div>



