<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{updateModal ? "Mettre à jour une étape" : "Créer une étape"}}</h4>
      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form style="padding: 12px;" [formGroup]="form" (ngSubmit)="validate()">
      <div class="modal-body">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Nom d'étape</mat-label>
            <input matInput placeholder="Préparer le plan de travail" formControlName="name" required>
            <mat-error >Entrez un nom d'étape</mat-error>
          </mat-form-field>
        </div>

        <div>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div >
          <mat-form-field  appearance="outline" >
            <mat-label>Durée de l'étape (en minute) </mat-label>
            <input matInput placeholder="20" type="number" formControlName="duration" required>
            <mat-error >Entrez un prix unitaire</mat-error>
          </mat-form-field>


        </div>

        <div class="row mb-3" *ngFor="let item of liste">
          <div class="col">
            <mat-form-field class="" appearance="outline">
              <mat-label>Catégorie</mat-label>
              <mat-select placeholder="Ingrédient" formControlName="{{item}}ID" required>
                <mat-optgroup *ngFor="let category of i_Category" label="{{category.name}}">
                  <ng-container *ngFor="let item2 of ingredientDonne">
                    <mat-option *ngIf="category.id==item2.id_category" [value]="item2.id">{{item2.name}}</mat-option>
                  </ng-container>
                </mat-optgroup>
              </mat-select>
              <mat-error >Entrez un ingrédient</mat-error>
            </mat-form-field>

          </div>
          <div class="col">
            <mat-form-field  appearance="outline" >
              <mat-label>Quantité {{getUnit(item)?'('+getUnit(item)+')':''}}</mat-label>
              <input matInput placeholder="20" type="number" formControlName="{{item}}Q" required>
              <mat-error >Entrez une quantité</mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-auto mt-3">
            <button class="btn btn-outline-danger" (click)="deleteIngredient(item)" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#dc3545">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
              </svg>
            </button>

          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-primary" (click)="ajoutIngredient()" type="button">Ajouter un ingrédient</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-light" data-bs-dismiss="modal" data-bs-toggle="modal" href="#creerIngredient"
                type="button">Créer un ingrédient
        </button>
        <button class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!form.valid"
                type="submit">{{updateModal ? "Mettre à jour" : "Créer"}}</button>
      </div>
    </form>


  </div>
</div>


