<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" >{{updateModal?"Mettre à jour un Ingrédient":"Créer un Ingrédient"}}</h4>
      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <form style="padding: 12px;" [formGroup]="form" (ngSubmit)="validate()" >
      <div class="modal-body" >
        <div>
          <mat-form-field class="" appearance="outline">
            <mat-label>Nom d'ingrédient</mat-label>
            <input matInput placeholder="Courgette" formControlName="name" required>
            <mat-error>Entrez un nom d'ingrédient</mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="" appearance="outline">
              <mat-label>Unité de l'ingrédient</mat-label>
              <input matInput placeholder="Kg" formControlName="unit" required>
              <mat-error >Entrez une unité</mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field  appearance="outline" >
              <mat-label>Prix unitaire (€)</mat-label>
              <input matInput placeholder="1,5" type="number" formControlName="unit_price" required>
              <mat-error >Entrez un prix unitaire</mat-error>
            </mat-form-field>

          </div>
        </div>
        <div>
          <mat-form-field  appearance="outline" >
            <mat-label> Stocks {{getUnit().value?'(En '+getUnit().value+')':''}}</mat-label>
            <input matInput placeholder="1,5" type="number" formControlName="stock" required>
            <mat-error >Entrez le nombre d'ingrédient en stock</mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="" appearance="outline">
              <mat-label>Catégorie</mat-label>
              <mat-select formControlName="id" required>
                <mat-option *ngFor="let item of category" [value]="item.id">{{item.name}}</mat-option>

              </mat-select>
              <mat-error >Sélectionner une catégorie d'ingrédient</mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Allergène</mat-label>
              <mat-select formControlName="allergen" >
                <mat-option value="-1">Aucun</mat-option>
                <mat-option *ngFor="let item of allergenList" [value]="item.id">{{item.name}}</mat-option>


              </mat-select>
            </mat-form-field>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal"  [disabled]="!form.valid" type="submit">{{updateModal?"Mettre à jour":"Créer"}}</button>
      </div>
    </form>
  </div>
</div>



